<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Description
Description: A three-column, fixed-width blog design.
Version    : 1.0
Released   : 20071004

Modified extensively by John Weis, MPB Software, LLC.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Neumont Scavenger Hunt {% block title %}{% endblock title %}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="../static/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	<!-- start header -->
	<div id="logo">
		<h1><a href="#">Scavenger Hunt</a></h1>
	</div>

	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Pictures</a></li>
		</ul>		
		<ul id="userStatus">
			<li><a href="#">Login</a></li>
		</ul>
	</div>
<!-- end header -->

<div id="wrapper">

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title"><a href="#">Welcome to the Neumont Scavenger Hunt</a></h1>
			<p class="byline"><small>Posted on October 1st, 2007 by <a href="#">Free CSS Templates</a></small></p>
			<div class="entry">
				<p><strong>Description</strong> is a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a> license, so you're pretty much free to do whatever you want with it  (even use it commercially) provided you keep the links in the footer intact. Have fun with it :)</p>
				<p>This template is also available as a <a href="http://www.freewpthemes.net/preview/Description/">WordPress theme</a> at <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.</p>
				<p class="links"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">No Comments</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title"><a href="#">Sample Tags</a></h2>
			<p class="byline"><small>Posted on October 1st, 2007 by <a href="#">Free CSS Templates</a></small></p>
			<div class="entry">
				<h3>An H3 Followed by a Blockquote:</h3>
				<blockquote>
					<p>&#8220;Donec leo, vivamus nibh in augue at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&#8221;</p>
				</blockquote>
				<h3>Bulleted List:</h3>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Phasellus nec erat sit amet nibh pellentesque congue.</li>
					<li>Cras vitae metus aliquam risus pellentesque pharetra.</li>
				</ul>
				<h3>Numbered List:</h3>
				<ol>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Phasellus nec erat sit amet nibh pellentesque congue.</li>
					<li>Cras vitae metus aliquam risus pellentesque pharetra.</li>
				</ol>
				<p class="links"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">No Comments</a></p>
			</div>
		</div>
	</div>
	<!-- end content -->

	<!-- start sidebars -->
	<div id="sidebar2" class="sidebar">
		<ul>
			<li>
				<form id="searchform" method="get" action="#">
					<div>
						<input type="text" name="s" id="s" size="15" value="" />
						<br />
						<input type="submit" value="Search" id="x" />
					</div>
				</form>
			</li>
			<li class="tag">
				<h2>Tags</h2>
				<a href="#">coffee</a> <a href="#">tea</a> <a href="#">soda</a> <a href="#">water</a> <a href="#">milk</a> <a href="#">beer</a> 
				<a href="#">apple</a> <a href="#">banana</a> <a href="#">cherry</a> <a href="#">d-word</a> <a href="#">elegant</a> <a href="#">fantastic</a> 
			</li>

			<li>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebars -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->

</div>
<div id="footer">
	<p>&copy;2007 Neumont Housing USG ?????? </p>
</div>
</body>
</html>
