<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Modified extensively by John Weis, MPB Software, LLC.
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Neumont Scavenger Hunt {% block title %} {% endblock title %}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="../static/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	<!-- start header -->
	<div id="logo">
		<h1><a href="#">scavenger hunt</a></h1>
	</div>

	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Pictures</a></li>
	 	</ul>		{% if user %}

		<ul id="userStatus">
			<li>  Welcome, {{ user.nickname }} <a href="{{ logout_url }}"> Logout </a></li>
		</ul>		
		
		{% else %}
		<ul id="userStatus">
			<li><a href="#">Login</a></li>
		</ul>
		{% endif %}
	</div>
<!-- end header -->

<div id="wrapper">

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		{% block primaryContent %}				
		{% endblock primaryContent %}
	</div>
	<!-- end content -->

	<!-- start sidebars -->
	<div id="sidebar2" class="sidebar">
		<ul>
			<li>
				<form id="searchform" method="get" action="#">
					<div>
						<input type="text" name="s" id="s" size="25" value="" />
						<br />
						<input type="submit" value="Search" id="x" />
					</div>
				</form>
			</li>
			<li class="tag">
				<h2>Tags</h2>
				<a href="#">coffee</a> <a href="#">tea</a> <a href="#">soda</a> <a href="#">water</a> <a href="#">milk</a> <a href="#">beer</a> 
				<a href="#">apple</a> <a href="#">banana</a> <a href="#">cherry</a> <a href="#">description</a> <a href="#">elegant</a> <a href="#">fantastic</a> 
			</li>

			<li>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebars -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->

</div>
<div id="footer">
	<p>&copy;2007 Neumont Housing USG ?????? </p>
</div>
</body>
</html>
