{% extends "base.html" %}

{% block title %} - Registration{% endblock title%}

{% block primaryContent %}				
		
                

    {% if user %}
        Welcome {{ user.nickname }}
        <a href="{{ logout_url }}"> Logout </a>
        {% if profile %}

            <br />
            
        {% else %}
            <b> we need to add a form here </b>
        {% endif %}
        <b> we should add buttons here...</b>
    {% endif %}
    <p>
    <b>You made it to the registration page...</b>
    </p>

{% endblock primaryContent %}