<html>
<head>
<title>Multiple file upload (Mootools version)</title>

	<link rel="stylesheet" type="text/css" media="screen" href="/static/Stickman.MultiUpload.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/mootools/1.11/mootools-yui-compressed.js"></script>
	<script src="/static/Stickman.MultiUpload.js"></script>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			// Use defaults: no limit, use default element name suffix, don't remove path from file name
			new MultiUpload( $( 'main_form' ).defaults );
			// Max 3 files, use '[{id}]' as element name suffix, remove path from file name, remove extra elemen
		//	new MultiUpload( $( 'main_form' ).use_settings, 3, '[{id}]', true, true );
		});
	</script>
</head>

<body>
	<div>
	<form id="main_form" method="POST" enctype="multipart/form-data" action="/uploaddata">
		<!-- Uses defaults -->
		Please Select Your Files:
		<input type="file" name="defaults"><br clear="all"/><br/>
		
		<!-- This is just na ordinary file upload -->
		
		<input type='submit' id='submit' name='submitbutton' />
	</form>
	</div>
</body>
</html>